/* LOGIN STYLE */
.login-container {
  min-height: 100vh;
}

.login-image {
  background: url("/src/Assets/login/login-side-img.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.form-section {
  padding: 20px;
  width: 70%;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}

.toggle-password {
  cursor: pointer;
}

/* NAVBAR STYLE */
nav.navbar.navbar-expand-lg.navbar-custom.px-3.py-3 {
  position: sticky;
  top: 0;
}

.navbar-custom {
  background-color: #0b722f;
}

.circle-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle-icon i {
  color: green !important;
  font-size: 16px;
}

Link.sidebar-links i {
  color: "#00662f";
}

.notification-dot {
  position: absolute;
  top: 3px;
  right: -2px;
  width: 13px;
  height: 13px;
  background-color: rgb(7, 235, 7);
  border-radius: 50%;
  border: 2px solid #ffffff;
}

i.fa-solid.fa-bars {
  color: #0b722f;
}

button.btn.btn-sm.item-info-btns i {
  background-color: #0b722f;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

button.btn.btn-sm.item-info-btns i:hover {
  background-color: #000000;
  color: #ffffff;
}

/* .freight-main-container{
  width: 100%;
}
.freight-inputs{
  width: 25% !important;
} */
p.main-container-title {
  color: #bebebe;
}

.main-container-title i {
  font-size: 12px;
}

.client-add-box {
  background-color: #f5f5f5;
}

.client-add-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-add-input-container label {
  width: 50%;
}

.add-user-page-password-field {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.tab-title {
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.tab-title.active {
  color: green;
}

.btn-filter,
.btn-export {
  background-color: #006400;
  color: white;
}

.btn-hide {
  background-color: #dc3545;
  color: white;
}

.filter-input {
  max-width: 150px;
}

.logistics-table th,
.logistics-table td {
  vertical-align: middle;
}

.table-container {
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  background-color: #F5F5F5;
}

/* SIDEBAR STYLE */
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  background-color: #e3e3e3;
  height: 90vh;
  padding-top: 1rem;
  position: sticky !important;
  top: 72px;
  overflow-y: auto;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  /* transform: translateX(-100%); */
}

.sidebar .nav-link {
  color: #333;
  padding: 0.6rem;
  margin: 0.1rem 0;
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
}

.sidebar .nav-link:hover {
  background-color: #00662f;
  color: white;
}

.courier-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.sidebar .nav-link.active {
  background-color: #00662f;
  color: white;
}

.sidebar .nav-link svg {
  margin-right: 0.5rem;
}

.main-content {
  padding: 2rem;
}

.sidebar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar-links i {
  background-color: #ffffff;
  padding: 7px;
  color: #00662f;
  border-radius: 7px;
}

/* DELIVERY CHALLAN STYLE */
.delivery-challan-top-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.export-addnew-btn0-container-back-btn {
  display: flex;
  align-items: center;
  justify-content: end !important;
  gap: 10px;
}

.export-addnew-btn0-container-back-btn a {
  background-color: #00662f;
  color: #ffffff;
  padding: 7px 30px;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.export-addnew-btn0-container-back-btn a:hover {
  background-color: #000000;
  color: #ffffff;
}

.export-addnew-btn0-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.export-addnew-btn0-container a {
  background-color: #00662f;
  color: #ffffff;
  padding: 7px 30px;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.export-addnew-btn0-container a:hover {
  background-color: #000000;
  color: #ffffff;
}

h3.main-container-title {
  border-bottom: 1px solid #000000;
  padding-bottom: 7px;
}

.action-btns button i {
  background-color: #00662f;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.action-btns button i:hover {
  background-color: #004d00;
}

/* CHALLAN ADD NEW STYLE*/
.challan-add-main-right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.client-info-container {
  background-color: #cfcfcf35;
  border-radius: 5px;
  width: 100%;
}

.client-info-conatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border-right {
  border-right: 1px solid #00000080;
}

.party-name {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding: 5px 0px;
}

.party-name label {
  width: 30%;
}

.party-name input {
  border: 1px solid #cfcfcf80;
  padding: 10px;
  border-radius: 10px;
  width: 70%;
}

.party-name .direct-party-dropdown {
  border: 1px solid #cfcfcf80;
  padding: 10px;
  border-radius: 10px;
  width: 70% !important;
}

.item-info-labels-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.party-name textarea {
  border: 1px solid #cfcfcf80;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
}

/* SalesRepresentative */
button.btn-submit {
  background-color: #006400;
  color: white;
  border: none;
}

button.btn-submit:hover {
  background-color: #004d00;
  color: #ffffff;
}

button.btn-clear {
  background-color: #eef6ee;
  color: #006400;
  border: 1px solid #006400;
}

button.btn-clear:hover {
  background-color: #d4ecd4;
}

textarea.delete-modal-textarea {
  border: 1px solid #bebebe;
  border-radius: 10px;
}

.sidebar-links {
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.sidebar-links:hover {
  background-color: #f0f0f0;
  border-radius: 0.375rem;
}

.accordion-button {
  font-weight: 600;
  font-size: 1rem;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.active-user p {
  color: #ffffff;
  background-color: #006400;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}




.freight-main-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.freight-option {
  display: flex;
  align-items: center;
  width: 25%;
  gap: 10px;
  margin-right: 0 !important;
}


/* Custom radio active color */
.form-check-input:checked {
  background-color: green;
  border-color: green;
}

/* Optional: Also make the ring (focus outline) same color */
.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem green;
}




.chllan-page-form-btn-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

button.submit-btn {
  background-color: green;
  border: none;
  color: #ffffff;
  padding: 8px 45px;
  border-radius: 5px;
  font-size: 18px;
}

button.clear-btn {
  background-color: rgb(209, 242, 209);
  border: none;
  color: #000000;
  border: 1px solid green;
  padding: 8px 50px;  
  border-radius: 5px;
  font-size: 18px;
}

.make-search-and-btn-container{
   display: flex;
  align-items: center;
  justify-content: space-between;
}
.make-list-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.make-list-btns button{
  background-color: #006400;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 25px;
}